.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-success {
    width: 20%;
    margin: 4px;
}

#clear {
    width: 41%;
}

#output {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}