.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-success, .btn-secondary {
    width: 20%;
    margin: 4px;
    border: none;
}



.btn-secondary {
    background-color: #9b9b9b;
    border-color: #9b9b9b;
}

#output {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}